extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Allison Kemmerle

        p.lead.text-light
          | Full Stack Web Developer.

        .portfolio-bio
          p
          | During my graduate studies at the University of Michigan, I became
          |interested in programming while an intern at a digital humanities
          |consortium, where I helped to create and maintain
          |databases for historical documents. After I completed my PhD, I
          |decided to make a career switch and become a software engineer,
          |because I enjoyed the reasoning and creative process behind
          |creating a web application and the satisfaction in delivering a
          |finished product to a client.
          
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Languages

        ul
          li JavaScript
          li Ruby
          li HTML
          li CSS
          li SQL

        h6 Technologies

        ul
          li Express
          li React.js
          li React Redux
          li Ruby on Rails

        h6 Contact Info

        ul
          li allison.kemmerle@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/allison-kemmerle/') LinkedIn
        a.button.expanded(href='https://github.com/kemmerle') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
